.section-nav {
  width: auto;
  height: 126px;
  padding-top: 16px;
  padding-left: 16px;

  &--square {
    height: 216px;
  }
  @media (min-width: $table-width) {
    height: 185px;
    padding-top: 24px;
    padding-left: 24px;

    &--minimalize {
      height: 185px;
    }
    &--expanded {
      height: auto;
    }
  }
  @media (min-width: $desktop-width) {
    min-height: 185px;
    padding-top: 24px;
    padding-left: 32px;
  }

  &--table {
    padding: 16px;
    height: 255px;
    @media (min-width: $table-width) {
      height: auto;
      padding: 24px;
    }
    @media (min-width: $desktop-width) {
      padding: 32px;
    }
  }
  &__list {
    width: auto;
    @media (min-width: $table-width) {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      gap: 16px 24px;
      overflow: clip;
    }
    @media (min-width: $desktop-width) {
      gap: 16px 32px;
    }
    &--table {
      @media (min-width: $table-width) {
        display: table;
        height: 400px;
        width: calc(100vw - 32px);
        position: relative;
        border-radius: 8px;
        background: #fff;
      }
      @media (min-width: $desktop-width) {
        width: 1056px;
      }
    }
  }

  
  &__link {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: url("/src/images/go.svg") no-repeat;
    &--square {
      align-self: flex-end;
    }
  }
  &__item {
    width: 240px;
    height: 72px;
    flex-shrink: 0;
    /* flex-grow: 1; */
    border-radius: 6px;
    border: 1px solid #eaeaea;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px; /* ??? */

    @media (min-width: $table-width) {
      width: 224px;
      
    }
    @media (min-width: $desktop-width) {
      min-width: 240px;
    }

    &--square {
      height: 160px;
      flex-shrink: 0;
    }

    &--table {
      width: 260px;
      height: 200px;
      flex-shrink: 0;
      padding: 16px;
      display: flex;
      flex-direction: column;
      background: #fff;
      align-items: start;
      @media (min-width: $table-width) {
        display: table-row;
        
        width: 250px;
        height: auto;
        position: relative;
        align-items: center;
        &:not(:last-of-type)::after {
          content: "";
          position: absolute;
          width: calc(100vw - 64px);
          height: 1px;
          background: #eaeaea;
          bottom: 0;
          right: 16px;
        }
      }
      @media (min-width: $desktop-width) {
        
        &:not(:last-of-type)::after {
          width: 1024px;
        }
      }
    }
  }

  &__span {
    align-self: flex-start;
  }
  &__service-header {
    color: #7e7e82;
    font-family: "TT Lakes";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    opacity: 0.7218;
    margin-bottom: -16px;
    @media (min-width: $table-width) {
      display: none;
      margin-bottom: 0;
    }
    &--table-header {
      @media (min-width: $table-width) {
        display: inline-block;
        position: absolute;
        top: -20px;
      }
    }
  }
  &__service-element {
    /*margin-bottom: 16px;*/
    color: #1B1C21;
    font-family: 'TT Lakes';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; 
    letter-spacing: 0.2px;

    @media (min-width: $table-width) {
      display: table-cell;
      padding: 16px;
      vertical-align: middle;
      border-radius: 8px;
    }
  }
  &__service-term {
    @media (min-width: $table-width) {
      width: 38%;
    }
  }
  &__service-name {
    @media (min-width: $table-width) {
      width: 50%;
    }
  }
}
