.wrapper {
  position: relative;

  @media (min-width: $desktop-width) {
  }
  &--main {
    background: #f8f8f8;
    @media (min-width: $desktop-width) {
      width: calc(100vw - 320px);
    }
    @media (min-width: 1440px) {
      width: 1120px;
    }
  }
  &--opened {
    width: 100vw;
    height: 100vh;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    height: 100vh;
  }
  &--closed {
    display: none;
  }
  &--side {
    @media (min-width: $desktop-width) {
      display: block;
      width: 320px;
    }
  }
}
